* {
    box-sizing: border-box;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    background: linear-gradient(45deg, grey, white);
    background-size: 10000px;
}

h1 {
    display: flex;
    align-items: center;
    justify-content: center;
    color: #f1f1f1;
}

button {
    background-color: blue;
    letter-spacing: 5px;
    color: #f1f1f1;
    cursor: pointer;
    border: none;
    font-size: 30px;
    font-stretch: ultra-expanded;
}

.column {
    float: left;
    width: 25%;
    padding: 0 10px;
}


/* Remove extra left and right margins, due to padding */

.row {
    margin: 0 -5px;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}


/* Responsive columns */

@media screen and (max-width: 600px) {
    .column {
        width: 100%;
        display: block;
        margin-bottom: 20px;
    }
}


/* Style the counter cards */

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    padding: 16px;
    text-align: center;
    background-color: #f1f1f1;
    transition: 1s;
}

.card:hover {
    box-shadow: 12px 12px 30px 0 gray;
}